In [1]:
from pathlib import Path
import os 
import matplotlib.pyplot as plt
import pandas as pd
from data_pipeline.kaggle import download_and_unzip_kaggle
from data_pipeline.data_loader import load_data
from data_pipeline.preprocess import preprocess_data
from forex_python.converter import CurrencyRates

BASE_DIR = Path.cwd()  # Use os to get current working directory 

 # path to database 
df = pd.read_csv('./expense_data_1.csv') # place csv in data frame for EDA

In [ ]:
# Subcategory and note removed due to NaN
df.head()

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note.1,Amount,Currency,Account.1
0,3/2/2022 10:11,CUB - online payment,Food,NaN,Brownie,50.0,Expense,NaN,50.0,INR,50.0
1,3/2/2022 10:11,CUB - online payment,Other,NaN,To lended people,300.0,Expense,NaN,300.0,INR,300.0
2,3/1/2022 19:50,CUB - online payment,Food,NaN,Dinner,78.0,Expense,NaN,78.0,INR,78.0
3,3/1/2022 18:56,CUB - online payment,Transportation,NaN,Metro,30.0,Expense,NaN,30.0,INR,30.0
4,3/1/2022 18:22,CUB - online payment,Food,NaN,Snacks,67.0,Expense,NaN,67.0,INR,67.0

In [ ]:
#Dropped as redundant
df.drop(columns=["Subcategory", "Note."])

,Date,Account,Category,Note,INR,Income/Expense,Amount,Currency,Account.1
0,3/2/2022 10:11,CUB - online payment,Food,Brownie,50.0,Expense,50.0,INR,50.0
1,3/2/2022 10:11,CUB - online payment,Other,To lended people,300.0,Expense,300.0,INR,300.0
2,3/1/2022 19:50,CUB - online payment,Food,Dinner,78.0,Expense,78.0,INR,78.0
3,3/1/2022 18:56,CUB - online payment,Transportation,Metro,30.0,Expense,30.0,INR,30.0
4,3/1/2022 18:22,CUB - online payment,Food,Snacks,67.0,Expense,67.0,INR,67.0
...,...,...,...,...,...,...,...,...,...
272,11/22/2021 14:16,CUB - online payment,Food,Dinner,90.0,Expense,90.0,INR,90.0
273,11/22/2021 14:16,CUB - online payment,Food,Lunch with company,97.0,Expense,97.0,INR,97.0
274,11/21/2021 17:07,CUB - online payment,Transportation,Rapido,130.0,Expense,130.0,INR,130.0
275,11/21/2021 15:50,CUB - online payment,Food,Lunch,875.0,Expense,875.0,INR,875.0
276,11/21/2021 13:30,CUB - online payment,Other,Got from gobi,2000.0,Income,2000.0,INR,2000.0

In [ ]:
#convert currency to pounds for ease of viewing