In [4]:
from pathlib import Path
import os 
import matplotlib.pyplot as plt
import pandas as pd
from data_pipeline.kaggle import download_and_unzip_kaggle
from data_pipeline.data_loader import load_data
from data_pipeline.preprocess import preprocess_data

BASE_DIR = Path.cwd()  # Use os to get current working directory 

 # path to database 
df = pd.read_csv('./expense_data_1.csv') # place csv in data frame for EDA

In [3]:
!python -m pip list

Package                 Version
----------------------- -----------
annotated-types         0.7.0
anyio                   4.9.0
asttokens               3.0.0
bleach                  6.2.0
certifi                 2025.4.26
charset-normalizer      3.4.2
click                   8.1.8
colorama                0.4.6
comm                    0.2.2
cvzone                  1.6.1
debugpy                 1.8.14
decorator               5.2.1
dotenv                  0.9.9
executing               2.2.0
fastapi                 0.115.12
forex-python            1.9.2
idna                    3.10
ipykernel               6.29.5
ipython                 9.3.0
ipython_pygments_lexers 1.1.1
jedi                    0.19.2
joblib                  1.5.1
jupyter_client          8.6.3
jupyter_core            5.8.1
kaggle                  1.7.4.5
matplotlib-inline       0.1.7
nest-asyncio            1.6.0
numpy                   2.2.6
opencv-python           4.10.0.84
packaging               25.0
pandas                  2.2.3
parso                   0.8.4
pip                     25.0.1
platformdirs            4.3.8
prompt_toolkit          3.0.51
protobuf                6.31.1
psutil                  7.0.0
pure_eval               0.2.3
pydantic                2.11.5
pydantic_core           2.33.2
Pygments                2.19.1
python-dateutil         2.9.0.post0
python-dotenv           1.1.0
python-slugify          8.0.4
pytz                    2025.2
pywin32                 310
pyzmq                   26.4.0
requests                2.32.3
scikit-learn            1.6.1
scipy                   1.15.3
setuptools              80.9.0
simplejson              3.20.1
six                     1.17.0
sniffio                 1.3.1
stack-data              0.6.3
starlette               0.46.2
text-unidecode          1.3
threadpoolctl           3.6.0
tornado                 6.5.1
tqdm                    4.67.1
traitlets               5.14.3
typing_extensions       4.13.2
typing-inspection       0.4.1
tzdata                  2025.2
urllib3                 2.4.0
wcwidth                 0.2.13
webencodings            0.5.1

In [3]:
df.describe()
#df.loc[:, df.isnull().mean() <= 0.1]

       Subcategory           INR  Note.1        Amount     Account.1
count          0.0    277.000000     0.0    277.000000    277.000000
mean           NaN    410.750903     NaN    406.759134    406.759134
std            NaN   1065.756569     NaN   1065.158318   1065.158318
min            NaN      3.000000     NaN      3.000000      3.000000
25%            NaN     50.000000     NaN     50.000000     50.000000
50%            NaN    128.000000     NaN    125.000000    125.000000
75%            NaN    301.150000     NaN    300.000000    300.000000
max            NaN  10000.000000     NaN  10000.000000  10000.000000

In [6]:
# Can see ols subcategory and note.1 have many missing values

#df.shape(df.columns)

TypeError: 'tuple' object is not callable

In [ ]:
#Dropped as redundant
df.drop(columns=["Subcategory", "Note.1"])

,Date,Account,Category,Note,INR,Income/Expense,Amount,Currency,Account.1
0,3/2/2022 10:11,CUB - online payment,Food,Brownie,50.0,Expense,50.0,INR,50.0
1,3/2/2022 10:11,CUB - online payment,Other,To lended people,300.0,Expense,300.0,INR,300.0
2,3/1/2022 19:50,CUB - online payment,Food,Dinner,78.0,Expense,78.0,INR,78.0
3,3/1/2022 18:56,CUB - online payment,Transportation,Metro,30.0,Expense,30.0,INR,30.0
4,3/1/2022 18:22,CUB - online payment,Food,Snacks,67.0,Expense,67.0,INR,67.0
...,...,...,...,...,...,...,...,...,...
272,11/22/2021 14:16,CUB - online payment,Food,Dinner,90.0,Expense,90.0,INR,90.0
273,11/22/2021 14:16,CUB - online payment,Food,Lunch with company,97.0,Expense,97.0,INR,97.0
274,11/21/2021 17:07,CUB - online payment,Transportation,Rapido,130.0,Expense,130.0,INR,130.0
275,11/21/2021 15:50,CUB - online payment,Food,Lunch,875.0,Expense,875.0,INR,875.0
276,11/21/2021 13:30,CUB - online payment,Other,Got from gobi,2000.0,Income,2000.0,INR,2000.0

In [1]:


plt.scatter(df.Amount, df.Account)
plt.xlabel("Amount")
plt.ylabel("Account")
plt.title("Scatter Plot of Amount vs Account")
plt.show()

NameError: name 'plt' is not defined